@charset "utf-8";
/* CSS Document */

.metro .add-item::before, .dropzone::before, .dropzone > input[type="file"], .dropzone .axns, .metro .overlay .center, body.admin table tr.trash > td:first-child::before, body.admin > aside.left::after { display: block; position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

/*______ Gallery and Image Wrapper ______*/
.metro.row { margin-left: -2rem; margin-right: -2rem; }
.metro .panel { margin-bottom: 4rem; }
.metro .panel header .title { line-height: 1; }
.metro .panel > div.aspect-fx { margin: 0 -.1rem -.1rem; }
.metro .col { margin-bottom: 0; padding-left: 2rem; padding-right: 2rem; }
.metro img { display: block; z-index: 0; width: 100%; }
.metro .add-item, .dropzone, .dropzone .placeholder { position: relative; display: block; }
.metro .add-item, .dropzone .placeholder { font-size: 2.1rem; padding: 2.4rem 0; color: #263238; text-align: center; cursor: pointer; }
.metro .add-item:hover, .dropzone:not(.loading):not(.done):hover { background-color: #1e88e5; border-color: #1e88e5; }
.metro .add-item:hover, .dropzone:not(.loading):not(.done):hover .placeholder { color: #fff; }
.metro .add-item::before, .dropzone::before { content: ""; border: .7rem dashed rgba(38,50,56,.27); }
.metro .add-item .text { top: 50%; bottom: -2rem; margin-top: -7rem; height: auto; }
.metro .add-item .ion { font-size: 8rem; display: block; line-height: 1.25; }
.metro .overlay { z-index: 1; color: transparent; background-color: transparent; text-align: center; cursor: pointer; transition: all 400ms; }
.metro .overlay .center { font-size: 2.1rem; top: 50%; bottom: auto; margin-top: -1.5rem; }
.metro .overlay:hover { color: #263238; background-color: rgba(255,255,255,.52); }
.dropzone { min-height: 24rem; cursor: pointer; }
.dropzone::after { position: absolute; left: 0; right: 0; }
.dropzone .placeholder { display: block; z-index: 1; }
.dropzone.valid .placeholder, .dropzone.done .placeholder { z-index: 1; }
.dropzone .placeholder * { display: block; margin: -2.3rem auto; }
.dropzone img { display: block; width: auto; max-width: 100%; height: auto; max-height: 100%; border: .7rem solid transparent; }
.dropzone > input[type="file"] { z-index: 2; width: 100%; height: 100%; opacity: 0; cursor: pointer; }
.dropzone .axns { display: none; top: auto; left: auto; width: auto; height: auto; z-index: 3; }
.dropzone.loading > input[type="file"], .dropzone.loading .axns { z-index: -2; }
.dropzone.valid .axns, .dropzone.done .axns { display: block; }
/*.dropzone.done > input[type="file"] { display: none; }*/

/*______ Admin Template Specific ______*/
body.admin { overflow-x: hidden; }
body.admin > header a, body.admin aside.left a { color: rgba(38,50,56,.85); }
body.admin > header a:hover, body.admin > header a.active, body.admin > aside.left .active a, .list-group.nav-menu > li.active > a { color: #1976d2; border-bottom: 0 none; }
body.admin > header .hamburger:hover { background-color: rgba(38,50,56,.06); }

body.admin > header { position: fixed; top: 0; left: 0; right: 0; z-index: 2; }
body.admin > header .hamburger, body.admin > header .title { float: left; margin-top: 0; margin-bottom: 0; line-height: 5rem; }
body.admin > header .hamburger, body.admin > header .title a { display: block; }
body.admin > header .hamburger { width: 5rem; text-align: center; }
body.admin > header .hamburger::before { font-family: "Ionicons"; content: "\f20d"; font-size: 2.4rem; display: block; }
body.admin > header .hamburger.active::before { content: "\f129"; }
body.admin > header .hamburger.active { background-color: rgba(38,50,56,.06); }
body.admin > header .logo { margin-right: .2rem; }

body.admin > main, body.admin > footer { position: relative; z-index: 0; padding-left: 2rem; padding-right: 2rem; transition: all 400ms; }
body.admin > main.has-modal { z-index: 3; }
body.admin > main { margin-top: 5rem; }
body.admin table td { position: relative; }
body.admin table tr.trash > td:first-child::before { content: ""; right: auto; width: .2rem; background-color: #e53935; }
body.admin > footer { height: 4rem; padding-top: 1rem; padding-bottom: 1rem; text-align: right; }

body.admin > aside.left { overflow: auto; position: fixed; top: 5rem; bottom: 0; left: 0; z-index: 1; padding-top: 1rem; width: 19rem; background-color: #f0f3f5; }
body.admin > aside.left.none { left: -19rem; }
body.admin > aside.left::after { content: ""; left: auto; z-index: -1; width: .1rem; background-color: #e7ecee; }
body.admin > aside.left li.active::after, .list-group.nav-menu > li.active > a::after { content: ""; display: block; position: absolute; top: 0; bottom: 0; right: 0; width: .4rem; background-color: #1976d2; }
body.admin > aside.left .ion { margin: 0 1rem 0 0; width: 2.4rem; text-align: center; opacity: .76; }
body.admin > aside.left .ion+span { overflow: hidden; white-space: nowrap; display: block; position: absolute; left: 5rem; top: 1rem; z-index: -1; }
body.admin > aside.left ~ main, body.admin > aside.left ~ footer { margin-left: 5rem; }
body.admin > aside.left ~ main::before, body.admin > aside.left ~ footer::before { content: ""; position: fixed; top: -5rem; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.52); opacity: 1; z-index: 2; }
body.admin > aside.left.none ~ main::before, body.admin > aside.left.none ~ footer::before { display: none; opacity: 0; transition: all 400ms; }
body.admin > aside.left, body.admin > aside.left .ion+span { transition: all 400ms; }
@media (min-width: 640px) {
    body.admin > header .title { min-width: 14rem; }
}
@media (max-width: 767px) {
    body.admin > aside.left.none ~ main, body.admin > aside.left.none ~ footer { margin-left: 0; margin-right: 0; }
    body.admin > aside.left ~ main, body.admin > aside.left ~ footer { margin-right: -5rem; }
}
@media (min-width: 768px) {
    body.admin > aside.left.none { overflow: visible; width: 5rem; left: 0; }
    body.admin > aside.left.none .ion { opacity: 1; }
    body.admin > aside.left.none .ion+span { width: 0; opacity: 0; }
    body.admin > aside.left.none a:hover .ion+span {
        top: 0;
        z-index: 1;
        padding: 1rem 1.2rem;
        width: 13rem;
        color: #fff;
        background-color: #1976d2;
        opacity: 1;
    }
}

body.admin table.meta-table .select, body.admin table.meta-table input.full { margin: -.8rem -1.1rem; }
body.admin table.meta-table .btn-save-all { position: absolute; top: .2rem; left: .2rem; }
body.admin table.meta-table th:first-child, body.admin table.meta-table td:first-child { width: 20%; }
body.admin table.meta-table th:last-child, body.admin table.meta-table td:last-child { width: 14.4rem; padding: .2rem; }
body.admin table.meta-table tbody .btn { width: 1.9rem; }
body.admin table.meta-table .hellip { max-width: 40rem; }
body.admin table.meta-table .btn-group { float: right; }
body.admin table.meta-table tr.child > td { padding: 1rem 3rem; }
body.admin table.meta-table tr.child > td > .clearfix { margin-left: -1.7rem; }
body.admin table.meta-table tr.child > td > .clearfix .btn-group { margin: -.8rem -2.8rem .2rem; }
body.admin table.meta-table tr.child > td > table { margin-bottom: -.8rem; }

/* Posts Add/Edit */
body.admin .process-post .post-permalink { display: inline-block; }
body.admin .process-post input.xs, body.admin .process-post input.big { margin: 0; }
body.admin .process-post .mce-tinymce { margin: 2rem 0; }
body.admin .process-post .post-status p { position: relative; }
body.admin .process-post .post-status .radio { margin-bottom: 0; vertical-align: top; }
body.admin .process-post .post-status .radio + * { margin-left: 2.5rem; }
body.admin .process-post .post-status .custom-password { margin-bottom: 0; }
body.admin .process-post .post-status .comment-status { margin: .7rem 0 0; }

body.admin section.users-list tbody i.ion.danger { position: absolute; top: 2rem; right: 1rem; z-index: 0; margin-top: -.5rem; opacity: .52; }
body.admin section.users-list tbody tr:hover i.ion.danger { opacity: 1; }
body.admin section.users-edit .user-details { margin-bottom: 2rem; }

/* Settings page */
body.admin .config-form { position: relative; margin-top: 2rem; }

/* User Forum */
tbody.app-list tr > td > a.btn { display: inline-block;}
tbody.app-list.rejected tr > td > a.btn { display: none;}

body.admin .hilite:hover { background-color: rgba(38,50,56,.52); color: #fff; }
body.admin .hilite.active, body.admin .hilite.active:hover { background-color: #263238; color: #fff; }
